<div class="boxWrapper">

<div class="box">
  <div class="box-header">
    <h1 class="box-title"><%= t'devise.passwords.forgot_password' %></h1>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="box-body">

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
      </div>

      <div class="box-footer">
        <div>
          <%= render "devise/shared/links" %>
        </div>
        <div>
          <%= f.submit (t'devise.passwords.reset_password'), class: 'btn btn-primary' %>
        </div>
      </div>
  <% end %>

</div>

</div>
