<div>
  <div class="hero <% if !user_signed_in? %>hero--alternate<% end %>">
    <div class="hero-box">
      <div class="hero-inner">
        <div style="padding: 130px 0 60px;">
          <h1 class="hero-title"><span class="hero-title-small"><%= t'.welcome_to' %></span> <%= People.app_name %></h1>
        <% if !user_signed_in? %>
            <div class="hero-cta">
              <%= link_to (t'.join', app_name: People.app_name), new_user_registration_path, class: 'btn btn-primary btn-lg' %>
              <%= link_to (t'.sign_in'), new_user_session_path, class: 'btn btn-default btn-lg' %>
            </div>
        <% else %>
            <%= form_for :search, url: users_path, method: :get do |f| %>
                <div class="input-group">
                  <%= f.text_field :term, class: 'input-lg form-control search-text-lg', placeholder: (t'.search_for_anyone_anything'), value: params["search"].try(:[], "term") %>
                  <span class="input-group-btn">
                    <%= f.submit (t'.search'), class: 'btn btn-primary btn-lg' %>
                  </span>
                </div>
            <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <div class="container">
    <div class='profileList profileList--home'>
      <% @users.each do |user| %>
        <div class="profile" id="index-profile-<%= user.id %>">
          <%= render "profiles/profile", user: user %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
